*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Outfit", sans-serif;;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Slate-one: hsl(212, 45%, 89%);
    --Slate-two: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
}
main{
    height: 100vh;
    width: 100%;
    background-color: var(--Slate-one);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: auto;
    width: 100%;
    max-width: 320px;
    background-color:  var(--White);
    border-radius: 16px;
    padding: 16px;
}
.content_two{
     display: flex;
     flex-direction: column;
    justify-content: space-between;
}

img{
    width: 100%;
    border-radius: 12px;
}
.content_two_text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.content_two h2{
    font-size:24px ;
    width: 100%;
    max-width: 320px;
    text-align: center;
    font-weight: 600;
    color: var(--Slate-900);
    padding: 10px 0 10px 0;
}
.content_two p{
    font-size:15px ;
    text-align: center;
    width: 100%;
    max-width: 280px;
    color:var(--Slate-two);
    padding: 10px 0 10px 0;
}